PORT = 5000
MONGO_URI = mongodb://localhost:27017/shopnest-mern
JWT_SECRET =  FDJHJDKKJDSGJKGLKSDDFJ
RAZORPAY_KEY_ID =
RAZORPAY_KEY_SECRET =

EMAIL_USER = rbcomputer47@gmail.com
EMAIL_PASS = gmem vveh trxu zwcu


CLOUDINARY_CLOUD_NAME = du93vnlca 
CLOUDINARY_API_KEY = 367918231511845
CLOUDINARY_API_SECRET = wAIZmFUj5pyY0sQN1qf7rq3YaXw
